<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>history</title>
    <link rel="stylesheet" href="/landingPage.css">
</head>

<body>
    <div class="container">
        <p>Architectural wonders of the world</p>
    </div>

    <div class="welcome">
        <h1>HUMAN CRAFTMANSHIP AT IT'S BEST</h1>
        <img src="https://www.nativeplanet.com/img/2017/01/b1-27-1485519043.jpg">
    </div>

    <div class="containerDesc">
        <div class="description">
            <p>Welcome to <b>World Architectural Wonders</b>, your gateway to exploring the most iconic and
                awe-inspiring structures across the globe. From ancient marvels to modern masterpieces, our site
                showcases the rich history, cultural significance, and stunning beauty of architectural wonders.
                Discover the stories behind these monumental achievements that have shaped civilizations and continue to
                inspire awe and admiration today. Whether you're fascinated by historic landmarks or cutting-edge
                designs, journey with us to uncover the world's greatest architectural feats!</p>
        </div>

        <div class="exploreBttn">
            <button type="button" onClick="window.location.href='/wonders'">Explore now</button>
        </div>

        <!-- here learn -->
        <form id="searchForm" action="/search" method="GET">
            <input type="text" id="searchInput" name="query" placeholder="Search Wonders of the World">
            <button type="submit">Search</button>
        </form>
        
        <div id="searchResults"></div>
        

    </div>

</body>

</html>